---
## permalink: "notes/{{ page.fileSlug | slugify }}/"
---

{# =========================================================
   TOP NAVIGATION
   Always visible on note pages
   ========================================================= #}

{% include "components/navbar.njk" %}


{# =========================================================
   FILE TREE
   Show only when enabled in Digital Garden settings
   ========================================================= #}

{% if settings.dgShowFileTree === true %}
  {% include "components/filetree.njk" %}
{% endif %}


{# =========================================================
   SEARCH
   ========================================================= #}

{% if settings.dgEnableSearch === true %}
  {% include "components/searchContainer.njk" %}
{% endif %}


{# =========================================================
   MAIN NOTE CONTENT
   ========================================================= #}

<main class="content cm-s-obsidian print {{contentClasses}}">

  <header>

    {# ---------- Note Title ---------- #}

    {% if settings.dgShowInlineTitle === true %}

      <h1
        data-note-icon="{% if noteIcon %}{{noteIcon}}{% else %}{{meta.noteIconsSettings.default}}{% endif %}"
      >
        {% if title %}
          {{ title }}
        {% else %}
          {{ page.fileSlug }}
        {% endif %}
      </h1>

    {% endif %}


    {# ---------- Metadata ---------- #}

    <div class="header-meta">

      {# ---------- Tags ---------- #}

      {% if settings.dgShowTags === true and tags %}

        <div class="header-tags">

          {% for tag in tags %}

            {% if tag != 'gardenEntry' and tag != 'note' %}

              <a
                class="tag"
                onclick="toggleTagSearch(this)"
              >
                #{{tag}}
              </a>

            {% endif %}

          {% endfor %}

        </div>

      {% endif %}


      {# ---------- Timestamps ---------- #}

      {%- if meta.timestampSettings.showCreated or meta.timestampSettings.showUpdated -%}

        <div class="timestamps">

          {%- if meta.timestampSettings.showCreated and created -%}

            <div>
              <i data-lucide="calendar-plus"></i>
              <span
                class="human-date"
                data-date="{{created}}"
              ></span>
            </div>

          {%- endif -%}


          {%- if meta.timestampSettings.showUpdated and updated -%}

            <div>
              <i data-lucide="calendar-clock"></i>
              <span
                class="human-date"
                data-date="{{updated}}"
              ></span>
            </div>

          {%- endif -%}

        </div>

      {%- endif -%}

    </div>


    {# ---------- Dynamic Header Components ---------- #}

    {% for imp in dynamics.common.header %}

      {% include imp %}

    {% endfor %}


    {% for imp in dynamics.notes.header %}

      {% include imp %}

    {% endfor %}

  </header>


  {# =======================================================
     BEFORE CONTENT
     ======================================================= #}

  {% for imp in dynamics.common.beforeContent %}

    {% include imp %}

  {% endfor %}


  {% for imp in dynamics.notes.beforeContent %}

    {% include imp %}

  {% endfor %}


  {# =======================================================
     NOTE CONTENT
     ======================================================= #}

  {{ content | hideDataview | taggify | link | safe }}


  {# =======================================================
     AFTER CONTENT
     ======================================================= #}

  {% for imp in dynamics.common.afterContent %}

    {% include imp %}

  {% endfor %}


  {% for imp in dynamics.notes.afterContent %}

    {% include imp %}

  {% endfor %}

</main>


{# =========================================================
   RIGHT SIDEBAR
   Graph / Backlinks / TOC
   ========================================================= #}

{% if
  settings.dgShowBacklinks === true
  or settings.dgShowLocalGraph === true
  or settings.dgShowToc === true
  or dynamics.sidebar.top.length > 0
  or dynamics.sidebar.bottom.length > 0
%}

  {% include "components/sidebar.njk" %}

{% endif %}


{# =========================================================
   LINK PREVIEW
   ========================================================= #}

{% if settings.dgLinkPreview === true %}

  {% include "components/linkPreview.njk" %}

{% endif %}


{# =========================================================
   REFERENCES
   ========================================================= #}

{% include "components/references.njk" %}


{# =========================================================
   TIMESTAMPS
   ========================================================= #}

{% include "components/timestamps.njk" %}


{# =========================================================
   DYNAMIC FOOTER COMPONENTS
   ========================================================= #}

{% for imp in dynamics.common.footer %}

  {% include imp %}

{% endfor %}


{% for imp in dynamics.notes.footer %}

  {% include imp %}

{% endfor %}


{# =========================================================
   ICONS
   ========================================================= #}

{% include "components/lucideIcons.njk" %}


{# =========================================================
   CANVAS
   ========================================================= #}

{% if contentClasses and "canvas-page" in contentClasses %}

  {% include "components/canvasScript.njk" %}

{% endif %}


{# =========================================================
   BASES
   ========================================================= #}

{% include "components/basesScript.njk" %}
